
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
            margin: 0;
        }

        header {
            background-color: #B4CFB0;
        }

        .nav-cabecalho{
            height: 17px;
            padding: 12px;         
        }

        .navegacao-inicial {
            list-style: none;
            float: right;
            margin-top: 0px;
            font-weight: 700;         
        }

        .item-lista {
            display: inline;
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        .item-lista:hover{
            background-color: #99A799;
        }

        .aref {
            text-decoration: none;
            color: rgb(4, 4, 5);
        }

        .titulo-e-foto {
            text-align: center;
        }
        
        h1 {
            text-align: center;
            letter-spacing: -2px;
            font-family: 'Courier New', Courier, monospace;
            text-transform: uppercase;
        }

        .foto1 {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            padding: 15px;
        }

        main {
            background-color:#94B49F;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .sobremim {
            width: 33%;
            text-align: center;
            display: inline-block;
            position: relative;
            left: 50px;
        }
        
        .hobbies-parte {
            display: inline-block;
            width: 33%;
            text-align: center;
        }

        .habilidades {
            display: inline-block;
            width: 33%;
            text-align: center;
        }

        .foto2 {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            padding: 10px;
        }

        footer {
            background-color: #789395;
            margin: 0;
            padding-bottom: 30px;
        }

        #contato {
            padding: 20px;
            background-color: #99A799;
            color: black;
            text-align: center;
        }

        .navegacao-final {
            list-style: none;
            font-weight: 700;
        }

        .item-lista2 {
            display: inline;
            padding: 15px;
            text-align: center;
            text-transform: uppercase;
        }

        .item-lista2:hover{
            color: black ;
            background-color: #FEF5ED;
        }





        
        
        
        
        
        
        
        /**

        
        
        

        .sobremim {
            background-color: #D3E4CD;
        }

        .titulo {
            display: inline-block;
            width: 300px;
            text-align: center;
            top: -30px;
            padding: 50px;
        }

        .sobremim-texto{
            text-align: justify;
            display: inline-block;
            width: 1000px;
            padding: 50px;
        }
                
        .foto1 {
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }

        .foto2 {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            padding: 10px;
        }

        .habilidades {
            padding: 20px;
            background-color: #adc2ad ;
        }

        .centro {
            text-align: center;
        }

        .borda-redonda {
            border-radius: 25px;
            background: #D3E4CD;
            width: 200px;
            height: 40px;
            font-weight: 700;
            padding: 10px;
        }

        .borda-redonda:hover {
            color: black ;
            background-color: #FEF5ED;
        }

        .matematica {
            display: inline-block;
        }

        .ingles {
            display: inline-block;
        }

        .logica-programacao {
            display: inline-block;
        }

        .contato {
            padding: 20px;
            background-color: #99A799;
            color: black;
        }

    
        .navegacao-final {
            list-style: none;
            font-weight: 700;
        }

        .item-lista2 {
            display: inline;
            padding: 15px;
            text-align: center;
            text-transform: uppercase;
        }

        .item-lista2:hover{
            color: black ;
            background-color: #FEF5ED;
        }

        **/



