
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
            color: rgb(48, 37, 37);
            align-content: center;
            margin: 0;
        }

        h1 {
            letter-spacing: -3px;
        }

        h2 {
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .cabecalho {
            background-color: #FEF5ED;
            height: 17px;
            padding: 15px;
            
        }

        .navegacao-inicial {
            list-style: none;
            float: right;
            margin-top: 0px;
            font-weight: 700;         
        }

        .item-lista {
            display: inline;
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        .item-lista:hover{
            background-color: #99A799;
        }

        .aref {
            text-decoration: none;
            color: rgb(4, 4, 5);
        }

        .sobremim {
            background-color: #D3E4CD;
        }

        .titulo {
            display: inline-block;
            width: 300px;
            text-align: center;
            top: -30px;
            padding: 50px;
        }

        .sobremim-texto{
            text-align: justify;
            display: inline-block;
            width: 1000px;
            padding: 50px;
        }
                
        .foto1 {
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }

        .foto2 {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            padding: 10px;
        }

        .habilidades {
            padding: 20px;
            background-color: #adc2ad ;
        }

        .centro {
            text-align: center;
        }

        .borda-redonda {
            border-radius: 25px;
            background: #D3E4CD;
            width: 200px;
            height: 40px;
            font-weight: 700;
            padding: 10px;
        }

        .borda-redonda:hover {
            color: black ;
            background-color: #FEF5ED;
        }

        .matematica {
            display: inline-block;
        }

        .ingles {
            display: inline-block;
        }

        .logica-programacao {
            display: inline-block;
        }

        .contato {
            padding: 20px;
            background-color: #99A799;
            color: black;
        }

    
        .navegacao-final {
            list-style: none;
            font-weight: 700;
        }

        .item-lista2 {
            display: inline;
            padding: 15px;
            text-align: center;
            text-transform: uppercase;
        }

        .item-lista2:hover{
            color: black ;
            background-color: #FEF5ED;
        }



